[package]
name = "command-executor"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
async-trait = { workspace = true }
tokio = { workspace = true }
uuid = { workspace = true }
